body {
  background-image: url("assets/R\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin: 15px auto;
  gap: 10px;
  border-radius: 8px;
  justify-content: center;
  display: block;
}

.header {
  grid-area: header;
}

.header .box {
  background-image: url(assets/binary-bg.jpg);
  background-size: 20vh;
}

.header h1 {
  font-size: 1.5em;
  color: #a9a9a9;
}

h2 {
  font-family: "Arial Narrow Bold", sans-serif;
}

.interest-hobbies {
  grid-area: interest-hobbies;
}

.my-works {
  grid-area: my-works;
}

.testimonials {
  grid-area: testimonials;
}

.gallery .vertical-image img {
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  height: 300px;
  width: 200px;
}

.gallery .horizontal-image img {
  padding: 5px;
  height: 140px;
  width: 200px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: gallery;
}

.contact-form-container {
  grid-area: contact-form;
}

.contact-form-container .box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}

hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #000000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-input {
  width: 80%;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 20px;
  font-weight: 500;
  border-radius: 25px;
  background-color: #7a7a7a;
  margin: 5px;
}

.contact-form-container textarea {
  padding-top: 20px;
  height: 150px;
  border-radius: 25px;
  background-color: #7a7a7a;
}

.contact-input:focus {
  border: 2px solid #ff994f;
}

.contact-input:hover {
  transform: scale(1.05);
}

.contact-input::placeholder {
  color: #a9a9a9;
}

.contact-form-container button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

.contact-form-container button:hover {
  background: linear-gradient(270deg, #fa6d86, #ff994f);
  transform: scale(1.05);
}

.contact-form-container button img {
  height: 15px;
}

@media (max-width: 425px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      ". header ."
      ". interest-hobbies ."
      ". my-works ."
      ". testimonials ."
      ". gallery ."
      ". contact-form .";
  }

  .gallery .box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gallery .vertical-image img,
  .gallery .horizontal-image img {
    display: grid;
    place-items: center;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      ". header ."
      ". interest-hobbies ."
      ". my-works ."
      ". testimonials ."
      ". gallery ."
      ". contact-form .";
  }

  .gallery .box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gallery .vertical-image img,
  .gallery .horizontal-image img {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      ". header header ."
      ". interest-hobbies my-works ."
      ". testimonials testimonials ."
      ". gallery gallery ."
      ". contact-form contact-form .";
  }

  .interest-hobbies .box,
  .my-works .box {
    min-height: 200px;
  }
}

@media (min-width: 1025px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      ". header header header ."
      ". interest-hobbies my-works testimonials ."
      ". gallery gallery gallery ."
      ". contact-form contact-form contact-form .";
  }

  .interest-hobbies .box,
  .my-works .box,
  .testimonials .box {
    height: 90%;
    align-items: stretch;
  }
}
